* {
    margin: 0px;
    padding: 0px;
    
}
body{
    background: rgb(240, 235, 237);
    /* color: blanchedalmond; */
}
#Contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(227, 227, 233);
    
    
    overflow: hidden;
    /* background: blue; */
}
header{
    height: 150px;
    width: 100%;
    /* background: blueviolet; */
    background-image: url(banner2.jpg);
   
    border-radius: 20px;
}
header h1{
    font-size: 20px;
    text-align: center;
    /* line-height: 150px;   */
    /* margin-left: 200px;  */
}
header h2{
    font-size: 10px;
    text-align: center;
    font-family: cursive;
}
nav{
    height: 60px;
    width: 100%;
    background: cyan;
}
nav h2{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
#Contenido{
    width: 70%;
    padding: 20px;
    
    /* height: 600px; */
    float: left;
    background: lightsalmon;
    box-sizing: border-box;
    /* margin-top: 10px;
    /* margin-right: 10px; */
    /* margin-bottom: 5px;  */
}
#Contenido h3{
    font-size: 50px;
    text-align: center;
    /* line-height: 600px; */
    color: lime;

}
#Contenido img{
    width: 100%;
    height: auto;
}
aside{
    width: 30%;
    /* padding: 20px; */
    /* height: 600px; */
    background: rgb(241, 239, 241);
    height: auto;
    /* margin-top: 10px; */
    float: left;
    box-sizing: border-box;
}
aside h4{
    font-size: 20px;
    text-align:center;
    color: rgb(5, 5, 20);
    /* line-height: 600px; */

}
footer{
    background: seagreen;
    clear: both;
}
footer h5{
font-size: 20px;
text-align: center;
padding: 20px; /*despues comentar*/
}

p {
    text-align: center;
    color: rgb(9, 8, 15);
    font-family: monospace;
} 
header img{
    height: 150px; 
    width: 200px;
    float: left;
    border-radius: 20px;
}


a{
    font-size: 20px;
    /* text-decoration: none; */
    margin: 10px 60px;
    margin-top: 40px;
    color: tomato;
    font-size: 15px;
    font-family: fantasy;
    /* display: inline-block;
    background: #3BA7E1;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px #1D64A6; */
} 
@media screen and (max-width: 800px) {
    #Contenido {
        width:100%;
    }

    aside{
        width:100%;
    }
    
}

@media screen and (max-width: 400px){
    #Contenedor {
        width: 100%;
    }
}

